<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" href="#!/">
                    <img src="../images/logo.png" width="69" height="70" alt="logo"/>

                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="menu">
              <ul class="nav navbar-nav navbar-left">
                <li><a href="#!/">Home</a></li>
                <li><a href="#!/news">News</a></li>
                <li><a href="#!/contact">Contact</a></li>
                
              </ul>
                
              <ul class="nav navbar-nav navbar-right">
                  <li></li>
                  <li><a href="javascript:void(0)">Bonjour {{username}}</a></li>
                  <li><a href="javascript:void(0)" ng-click="logout()">logout</a></li>
              </ul>
                

            </div>
  </div>
</nav>