<div ng-hide="loading">
        <!--header start-->
        <ng-include  src="'partials/header.html'" ></ng-include>
        <!--header end-->

        
        <!--main content start-->
        <div class="container">
            <!-- wrapper start-->
            <div class="wrapper">
                <p class="p-bienvenu text-center" style="font-size: 1.5em; padding-bottom: 22px;width: 80%;margin: 0 auto;text-align: center;">
                   Home Page
                </p>
            </div>
            <!-- wrapper end-->
        </div>
        <!--main content end-->  

        <!--footer start-->
        <ng-include  src="'partials/footer.html'" ></ng-include>
        <!--footer end-->
</div>


